.persoImg {
    width: 400px;
    margin-left: -70px;
    position: fixed;
    -webkit-filter: drop-shadow(-15px -15px 15px #222);
    filter: drop-shadow(-15px -15px 15px #222);
}

.containerDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 290px;
}

.containerGallery {
    width: 50%;
}